

.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-weight: bold;
    font-size: smaller;
    width:100%;
    margin-top: 7%;
}

.iconos{
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 60%;
    border-radius: 1.5vw;
}
img{
    height: 50px;
    transition-duration: 2s;
    margin-right: 1.5em;
}
img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.5);
    
}
.flex-redes a{
    margin-left: 6%;
}
.flex-redes{
    display: flex;
    flex-direction: row;
   padding-top: 8%;
   padding-left: 2%;
   padding-bottom: 3%;
   
}

.primera, .segunda {
    height: 25em;
}

body {
    background-image: url("../img/fondoindex.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #8EB8F1;
}
.primera .flex-redes, .segunda .flex-redes{
 height: 30%;
}

.segunda p{
   margin-top: 5%;
   margin-left: 10%;
}
.primera p{
    margin-top: 3%;
    margin-left: 4%;
}


@media screen and (max-width: 800px) {

.cuerpo div{
    margin-bottom: 1%;
}

}
@media screen and (max-width: 1200px) {
    .cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cuerpo div{
        position: relative;
       font-size: 90%;
       width:50%;
    }
    .primera{
        margin-left:0%;
        margin-top: 0%;
        margin-bottom: 1%;
    }
    .segunda{
       
        margin-bottom: 5%;
    }
}
