.ancla {
	height: 50px;
    position: fixed;
    left: 1200;
    bottom: 90;
    fill: #008AB5 ;

}
.ancla:hover{
 	transition: fill 2s;
    fill: #00B509;

}

footer {
    background-color: rgba(172, 255, 230 , 0.5);
}

footer a {
    font-weight: bold;
}